/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto Slab', serif;
    height: 100vh;
    background-color: #f8f0e3;
}

html {
    height: 100vh;
}

#root {
    height: 100vh;
}
